.timeline-roadmap-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 16px;
  height: 18px;
  flex-shrink: 0;
  padding: 0;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--accent-lighter-color);
  color: var(--accent-secondary-color);
  cursor: pointer;
  user-select: none;
}

.timeline-roadmap-item.due {
  background: var(--toast-error-background-color);
  color: var(--toast-error-color);
}

.title {
  min-width: 0;
  flex: 1;
  padding: 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
}
