<renwu-page
  title="{{ 'projects.task-template' | transloco }}"
  [breadcrumbs]="[
    { title: 'Projects' | transloco, url: '../' },
    { title: (currentProject | async).key, url: '../' }
  ]"
>
  <div class="mb-4">
    {{ 'projects.task-template-text' | transloco }}
  </div>
  <form [formGroup]="taskForm">
    <label class="form-label">
      <rw-select
        modelName="Type"
        formControlName="type"
        [prompt]="'projects.type' | transloco"
      ></rw-select>
    </label>

    <label class="form-label"
      ><rw-select
        modelName="Priority"
        formControlName="priority"
        [prompt]="'projects.priority' | transloco"
      ></rw-select
    ></label>
    <label class="form-label"
      ><rw-select
        modelName="Status"
        formControlName="status"
        [prompt]="'projects.status' | transloco"
      ></rw-select
    ></label>
    <label class="form-label">
      <rw-time-picker
        formControlName="estimated_time"
        [prompt]="'projects.estimated-time' | transloco"
      ></rw-time-picker>
    </label>
  </form>
  <rw-button action (clicked)="save()">{{
    'projects.save' | transloco
  }}</rw-button>
</renwu-page>
