@if (user | async; as u) {
  <div class="profile-info">
    <div class="profile-info__row">
      <div class="profile-info__label">{{ 'profile.full-name' | transloco }}</div>
      <div class="profile-info__value">{{ u.full_name || '—' }}</div>
    </div>
    <div class="profile-info__row">
      <div class="profile-info__label">{{ 'profile.username' | transloco }}</div>
      <div class="profile-info__value">@{{ u.username || '—' }}</div>
    </div>
    <div class="profile-info__row">
      <div class="profile-info__label">{{ 'profile.email' | transloco }}</div>
      <div class="profile-info__value">{{ u.email || '—' }}</div>
    </div>
    <div class="profile-info__row">
      <div class="profile-info__label">{{ 'profile.phone' | transloco }}</div>
      <div class="profile-info__value">{{ u.phone || '—' }}</div>
    </div>
    <div class="profile-info__row">
      <div class="profile-info__label">{{ 'profile.time-zone' | transloco }}</div>
      <div class="profile-info__value">{{ timezoneName(u) }}</div>
    </div>
  </div>
}
