<renwu-page-with-sidebar>
  <div sidebar>
    <div class="text-2xl p-4 pt-0 flex flex-row font-extralight">
      <a class="flex" routerLink="./list">{{ 'tasks.filters' | transloco }}</a>
    </div>
    <ul class="flex flex-col overflow-auto w-full mb-4">
      @for (query of queries | async; track query.id) {
        <li>
          <a
            class="flex p-4"
            (click)="filterClick()"
            [routerLink]="['list', query.id]"
            routerLinkActive="router-link-active"
            >{{ query.title }}</a
          >
        </li>
      }
    </ul>
  </div>
  <router-outlet />
</renwu-page-with-sidebar>
